<form nz-form [formGroup]="form" (ngSubmit)="onSubmitCreate()">
  <nz-form-item>
    <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="name">Tên nhóm thuốc</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Tên nhóm thuốc tối thiểu 3 ký tự">
      <input nz-input formControlName="name"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="password" nzRequired>Mô tả</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input formControlName="description"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <div nz-col [nzSm]="5" [nzXs]="24"></div>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <button [nzLoading]="isRequesting" type="submit" nz-button nzType="primary" nzBlock>Lưu nhóm thuốc</button>
    </nz-form-control>
  </nz-form-item>
</form>
