<form nz-form [formGroup]="form" (ngSubmit)="onSubmitCreate()">
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>Tên thuốc</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Tên thuốc tối thiểu 3 kí tự">
      <input nz-input formControlName="name" placeholder="Nhập tên thuốc" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>Nhóm thuốc</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Phải chọn nhóm thuốc">
      <nz-select formControlName="medication_id" nzShowSearch nzPlaceHolder="Chọn nhóm thuốc">
        <nz-option *ngFor="let item of medications" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>Đơn vị lớn</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select formControlName="unit_large_id" nzShowSearch nzPlaceHolder="Chọn đơn vị lớn">
        <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
        <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
        <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item> -->
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>Đơn vị nhỏ</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select formControlName="unit_small_id" nzShowSearch nzPlaceHolder="Chọn đơn vị nhỏ">
        <nz-option *ngFor="let item of unitSmalls" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>Giá bán</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="unit_vol_small" placeholder="VND" />
    </nz-form-control>
  </nz-form-item>
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>Giá bán (lớn)</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="unit_vol_large" placeholder="VND" />
    </nz-form-control>
  </nz-form-item> -->
  <nz-form-item>
    <div nz-col [nzSpan]="5"></div>
    <nz-form-control [nzSpan]="12">
      <button [nzLoading]="isRequesting" type="submit" nz-button nzType="primary" nzBlock>Lưu thuốc</button>
    </nz-form-control>
  </nz-form-item>
</form>
