<div class="send-request">
  <nz-space>
    <nz-space-item>
      <button
        (click)="openCreatePrescriptionDrawer()"
        nz-button
        nzType="primary"
        [nzLoading]="isRequesting">
        Khám bệnh mới
      </button>
    </nz-space-item>

    <nz-space-item>
      <button
        (click)="onOpenSearchPrescriptionModal()"
        nz-button
        nzType="primary"
        [nzLoading]="isRequesting">
        Tìm kiếm
      </button>
    </nz-space-item>
  </nz-space>
</div>
<nz-table
  #patientsTable
  nzShowPagination
  nzShowSizeChanger
  [nzData]="patients"
  (nzQueryParams)="onTableQueryParamsChange($event)"
  [nzPageSize]="queryPrescriptionsParams.pageSize"
>
  <thead>
  <tr>
    <th>Họ tên</th>
    <th>Tuổi</th>
    <th>Điện thoại</th>
    <th>Địa chỉ</th>
    <th>Ngày khám gần đây</th>
    <th>Thao tác</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of patientsTable.data">
    <td><a [routerLink]="['benh-nhan', data.id]">{{ data.full_name }}</a></td>
    <td>{{ data.age_int }}</td>
    <td>{{ data.phone }}</td>
    <td>{{ data.address }}</td>
    <td>{{ data.last_exam_at | date: 'dd/MM/yyyy' }} </td>
    <td>
      <a [routerLink]="['benh-nhan', data.id]">
        Khám
      </a>

      <nz-divider nzType="vertical"></nz-divider>

      <a>
        Sửa
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>
