<div class="send-request">
  <nz-space>
    <nz-space-item>
      <button
        (click)="openCreatePrescriptionDrawer()"
        nz-button
        nzType="primary"
        [nzLoading]="isRequesting">
        Tạo phiếu khám
      </button>
    </nz-space-item>

    <nz-space-item>
      <button
        (click)="onOpenSearchPrescriptionModal()"
        nz-button
        nzType="primary"
        [nzLoading]="isRequesting">
        Tìm kiếm
      </button>
    </nz-space-item>
  </nz-space>
</div>
<nz-table
  #rowSelectionTable
  nzShowPagination
  nzShowSizeChanger
  [nzData]="listOfData"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
  <tr>
    <th>Họ tên</th>
    <th>Tuổi</th>
    <th>Điện thoại</th>
    <th>Địa chỉ</th>
    <th>Ngày khám gần đây</th>
    <th>Thao tác</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of rowSelectionTable.data">
    <td>{{ data.name }}</td>
    <td>{{ data.age }}</td>
    <td>0935.418.749</td>
    <td>{{ data.address }}</td>
    <td>25/2/2021 </td>
    <td>
      <a nz-button nzType="link" nzDanger (click)="openViewPrescription(1)">
        <i nz-icon nzType="file-text" nzTheme="outline"></i>
      </a>

      <a nz-button nzType="link" nzDanger (click)="openViewPrescription(1)">
        <i nz-icon nzType="delete" nzTheme="fill"></i>
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>
