/* You can add global styles to this file, and also import other style files */
.container {
  max-width: 1024px;
  margin: auto;
  display: block;
}

a {
  cursor: pointer;
}

nz-table {

  th {
    padding: 1rem .5rem !important;
  }

  tr {
    // &:nth-child(odd) {
    //   background-color: #fff8f8;
    // }
  }

  td {
    padding: .5rem !important;
  }
}

