/* You can add global styles to this file, and also import other style files */

nz-table {
  margin: .5rem;

  th {
    padding: 1rem .5rem !important;
  }

  tr {
    &:nth-child(odd) {
      background-color: #fff8f8;
    }

    // &:hover {
    //   background-color: tomato !important;

    //   td {
    //     background-color: tomato !important;
    //   }
    // }
  }

  td {
    padding: .5rem !important;
  }
}

