<div class="page-header">
  <a nz-button nzSize="small" nzType="link" (click)="back()">< Quay lại</a>
</div>

<div class="patient-descriptions">
  <app-patient-descriptions [patient]="patient"></app-patient-descriptions>
</div>

<div class="actions">
  <button nz-button nzType="link" (click)="openCreatePrescriptionDrawer()">+ Tạo phiếu khám</button>
</div>

<nz-divider class="split-block"></nz-divider>

<nz-table [nzShowPagination]="false" #basicTable [nzData]="examHistory">
  <thead>
    <tr>
      <th class="exam-history-th">Ngày khám</th>
      <th class="exam-history-th">Chuẩn đoán</th>
      <th class="exam-history-th">Thanh toán</th>
      <th class="exam-history-th">Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.created_at | date: 'dd/MM/YYYY' }}</td>
      <td>{{ data.diagnosis }}</td>
      <td>{{ data.pres_price | currency: 'VND' }}</td>
      <td>
        <a (click)="openViewPrescriptionDrawer(data)">Xem toa</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="openRePrescriptionDrawer(data)">Tái khám</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Xóa</a>
      </td>
    </tr>
  </tbody>
</nz-table>
