<h1 class="title">Phiếu khám bệnh</h1>

<div class="section pres-info">
  <div class="col">
    <p>
      <span class="pres-info__title">Họ và tên</span>
      {{ patient?.full_name }}</p>
    <p>
      <span class="pres-info__title">Ngày sinh</span>
      {{ patient?.dob_str }} ({{ patient?.age_str }})</p>
    <p>
      <span class="pres-info__title">Giới tính</span>
      {{ patient?.gender_str }}</p>
  </div>

  <div class="col">
    <p>
      <span class="pres-info__title">Người giám hộ</span>
      {{ patient?.guardian }}</p>
    <p>
      <span class="pres-info__title">Số điện thoại</span>
      {{ patient?.phone }}</p>
    <p>
      <span class="pres-info__title">Địa chỉ</span>
      {{ patient?.address }}</p>
  </div>
</div>

<div class="section pres-diagnosis">
  <p>
    <span class="pres-diagnosis__title">Triệu chứng bệnh</span>
    <span>{{ prescription?.symptoms }}</span></p>
  <p>
    <span class="pres-diagnosis__title">Chuẩn đoán bệnh</span>
    <span class="pres-diagnosis__sick">{{ prescription?.diagnosis }}</span></p>
</div>

<div class="section recipience">
  <div class="recipience__title">
    <p>Toa thuốc: </p>
  </div>

  <!-- RECIPIENCE LIST -->
  <div class="section recipience__list">
    <div class="recipience__item" *ngFor="let med of medicines">
      <div class="recipience__item-top">
        <span class="recipience__medicine-name">{{ med.med_name }}</span>
        <span>{{ med.amount_str }}</span>
      </div>

      <div class="recipience__item-bottom">
        {{ med.formulea }}
      </div>
    </div>
  </div>
  <!-- END RECIPIENCE LIST -->
</div>

<div class="section bill-total">
  <span class="bill-total__title">Tổng chi phí</span>
  <span class="bill-total__price">{{ prescription?.bill_price | currency: 'VND'}}</span>
</div>

<div class="section sign">
  <div class="sign__wrapper">
    <div class="sign__date">TP Cà Mau, {{ prescription?.created_at_str }}</div>
    <div class="sign__label">Người chuẩn đoán & kê toa</div>
    <div class="sign__signer"></div>
    <div class="sign__doctor">Ths.Bs. Nguyễn Duy Quang</div>
  </div>
</div>

<div class="section note">
  <div class="note__title">* Ghi chú</div>
  <p class="note__content">
    {{ patient?.note }}
  </p>
</div>
