<div class="text-center mb-5">
  <h3>Lấy lại mật khẩu</h3>
  <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
</div>
<form action="#" method="post">
  <div class="form-group first">
    <label for="username">Email đăng nhập</label>
    <input type="text" class="form-control" placeholder="your-email@gmail.com" id="username">
  </div>

  <div class="d-sm-flex mb-5 align-items-center">
    <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">Xác nhận, email sẽ được gửi về địa chỉ này</span>
      <input type="checkbox" checked="checked"/>
      <div class="control__indicator"></div>
    </label>
  </div>

  <input type="submit" value="Gửi email" class="btn btn-block btn-primary">

  <a class="mt-4 d-block" href="javascript:;" (click)="goBack()">Quay lại</a>

</form>
