fa-icon {
  margin-right: 10px;
}

nz-header {
  display: fixed;
  top: 100px;
}

.header-menu {
  display: flex;

  .flex-end {
    margin-left: auto;
    justify-self: flex-end;
  }

  li {
    outline: none;
  }
}

.content {
  padding-top: .2rem;
}
