<nz-layout>
  <nz-header  >
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item routerLink="/kham-benh" routerLinkActive="ant-menu-item-selected">Khám bệnh</li>
      <li nz-menu-item routerLink="/kho-thuoc" routerLinkActive="ant-menu-item-selected">Kho thuốc</li>
      <li nz-menu-item routerLink="/thong-ke" routerLinkActive="ant-menu-item-selected">Thống kê</li>
    </ul>
  </nz-header>
</nz-layout>

<router-outlet></router-outlet>
